# Dependencies
node_modules/
.pnp
.pnp.js
jspm_packages/

# Next.js and frontend build directories
.next/
out/
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local
*.env

# Flutter/Dart specific ignores
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
ephemeral/
flutter_export_environment.sh
/apps/mobile/build/
/apps/mobile/ios/Flutter/flutter_export_environment.sh
/apps/mobile/lib/generated_plugin_registrant.dart

# Android / iOS build outputs
*.apk
*.ap_
*.aab
*.dmg
*.pkg
*.app

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?
.classpath
.project
.settings/

# OS-specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
